@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Abel", sans-serif;
    font-size: large;
}

body {
    height: 100vh;
    background-color: rgb(247 247 247);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 66px;
    align-items: center;
}

.titulo-nav {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    margin-left: 13px;
    
}

.title-orange{
    color: #ec9b69;
    font-size: 32px;
    font-weight: bold;
}

.box-input {
    display: flex;
    align-items: center;
    max-width: 800px;
    padding: 20px;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: inherit;
    gap: 5px;
    border: 1px solid #bebebe;
    border-radius: 8px;
    height: 42px;
    width: 403px;
    margin-right: 69px;
}
  
.input-search{
    border: none;
    background: transparent;
    font-size: 14px;
    outline: none;
    margin: 0 12px;
    width: 403px;
}
  
.input-img {
    width: 13.68px;
    height: 13.68x;
    margin: 0 12px; 
}
  
.input-img-container{
   cursor: pointer;
}
  

.card-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 250px;
    background-color: lavenderblush;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

.section-do-card {
    display: flex;
    justify-content: center;
}

.img-github {
    border-radius: 10px;
}

.name {
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;

}

.login {}

.bio {}

.container-icon {
    display: flex;
    justify-content: flex-start;
}

.box-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background: #FFFFFF;
    border-radius: 8px;
    width: 66px;
    height: 40px;
}

.icone1 {
    max-height: 33px;
}

.icone2 {
    max-height: 20px;
}


footer {
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    height: 66px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.footer-text {
    color: #ec9b69;
    padding-left: 0.5%;
}